* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

.navItem {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.title {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

/* nav styles */

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #31398b;
}

.logo {
  font-size: 1.8rem;
  color: rgb(255, 255, 255);
  padding-left: 20px;
}

.hamburger {
  padding-right: 20px;
  cursor: pointer;
}

.line {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background-color: rgb(255, 255, 255);
}

.navItems {
  position: fixed;
  width: 100%;
  top: 85px;
  left: 0px;
  background-color: #7c83d4;
}

.navItems a {
  display: block;
  text-align: center;
  padding: 10px 0;
}

.navItems a:hover {
  background-color: #5861b9;
  border-radius: 5px;
}

.hide {
  display: none;
}

@media screen and (min-width: 600px) {
  .navItems {
    display: block;
    position: static;
    width: auto;
    margin-right: 20px;
    background: none;
  }

  .navItems a {
    display: inline-block;
    padding: 15px 20px;
  }

  .hamburger {
    display: none;
  }
}
